<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>数码摄像机 - 数码公司网站模板</title>
<meta name="Keywords" content="数码摄像机,模板建站、自助建站、免费个人主页空间、企业网站建设空间" />
<meta name="Description" content="免费网站系统特点：永久免费网站建设空间，模板建站、自助建站、免费个人主页空间、企业网站建设空间，支持顶级域名绑定，站点完全独立等上千种功能，经过8年的市场验证，已为上千万个人/企业提供了良好的建站服务，会打字就会做网站。" / >
<script language="JavaScript" type="text/javascript" src="http://cdn.zhuolaoshi.cn/js/jquery-1.11.1.min.js"></script>
<script language="JavaScript" type="text/javascript" src="http://cdn.zhuolaoshi.cn/js/layer/layer.min.js"></script>
<script language="JavaScript" src="http://cdn.zhuolaoshi.cn/js/jquery.d.imagechange.js"></script>
<script language="JavaScript" src="http://cdn.zhuolaoshi.cn/js/MSClass.js"></script>
<link href="../user/253/user_sys/css.css" rel="stylesheet" type="text/css" />
<style type="text/css">
.top_main{ height:70px;}
.bot_main{ height:111px;overflow:hidden}
.shop_main{width:1170px;padding:0px 0px 0px 0px;margin:0px auto; overflow:hidden}
.shop_list{ padding:10px 0px;}
.shop_list_default li{display:block;padding:5px 0px 0px 0px;margin:0px 0px 8px 8px;height:240px;float:left;width:176px; border:#CCCCCC 1px solid; text-align:center;overflow:hidden;}
.shop_list_default li img{width:160px;height:160px;}
.shop_list_default li span{display:block;text-align:center;margin-top:5px;line-height:20px;}
.shop_list_default li span a{font-size:12px;}
.shop_list_default li span a:visited{font-size:12px;}
.shop_list_default li span a:hover{font-size:12px;color:#333333;}
.shop_list_default li div{ margin:5px 0px 0px 0px;}
.shop_list_default li div b{ color:#ff0000;font-size:12px;font-family:Arial, Helvetica, sans-serif;}
.shop_list_default li div .scj{margin:0 0 0 10px; padding:0;text-decoration:line-through; font-style:normal; color:#999999}
.shop_list_default li div .cx{ margin:0 0 0 10px; padding:1px; background:#FF0000; color:#FFFFFF}
.shop_lb_left{float:left;width:260px;padding-top:30px;padding-right:20px;padding-bottom:0px;padding-left:0px;}
.shop_lb_right{float:right;width:880px;}

</style>

<script language="javascript">
$(function(){
$('.menu li div').css('top',$('.menu li').css('height'));var isie678=(/msie 6/i.test(navigator.userAgent))||(/msie 7/i.test(navigator.userAgent))||(/msie 8/i.test(navigator.userAgent));$('.menu >li').on('mouseenter',function(){$(this).find('div').show();$(this).children('a').addClass('menuhover');if(isie678){$(this).addClass('active')}}).on('mouseleave',function(){$(this).find('div').hide();$(this).children('a').removeClass('menuhover');if(isie678){$(this).removeClass('active')}});});

</script>
<style type="text/css">
.top_all,.bot_all{min-width:1170px;}
.quanpinbj{min-width:1170px;width:100%; position:relative; z-index:-1;}
</style>

</head>
<body>

<div class="top_all" id="top_all">
	<div class="top_main" id="top_main" style="position:relative;z-index:10;">
	  
		<div id="mokuai_1" style="overflow:hidden;position:absolute;width:214px; height:56px; top:14px; left:0px; z-index:1">
			<div style="">
                <div id="tb_last_box_1"><p style="text-align:left;">
	<span style="font-size:14px;"><img src="http://mocdn.web-12.com/user/253/image/20160107/20160107102584748474.png" alt="" /></span>
</p>
<p style="text-align:left;">
	<span style="font-size:14px;"><span style="font-size:14px;line-height:21px;white-space:normal;"></span></span> 
</p></div>

            </div>
		</div>
	  
		<div id="mokuai_3" style="position:absolute;width:718px; height:69px; top:0px; left:455px; z-index:1">
			<div style="">
                <style>
.menu{width:800px}
</style><ul class='menu clearfix'>
<li><a href="../index.html" target="_self">首页</a></li>
<li><a href="../gywm/nyw.html" target="_self">关于我们</a><div><a href="../gywm/nyw.html" target="_self">关于我们</a><a href="../gywm/qwh.html" target="_self">企业文化</a><a href="../gywm/qyj.html" target="_self">企业愿景</a><a href="../form_1/index.html" target="_self">投诉雨建议</a><a href="../gbook/index.html" target="_self">在线留言</a></div></li>
<li><a href="../news/index.html" target="_self">新闻资讯</a><div><a href="../qnew/index.html" target="_self">企业新闻</a><a href="../hnew/index.html" target="_self">行业新闻</a></div></li>
<li><a href="../cpzs/index.html" target="_self">产品展示</a><div><a href="../erj/index.html" target="_self">耳机</a><a href="index.html" target="_self">数码摄像机</a><a href="../yddy/index.html" target="_self">移动电源</a></div></li>
<li><a href="../zpr/index.html" target="_self">人才招聘</a></li>
<li><a href="../gywm/lxwm.html" target="_self">联系我们</a></li>

</ul>
    <script>
    $(function(){
        var path=location.pathname;
        $(".menu li>a").each(function(i,link){
            if($(link).attr("href")==path){
                $(link).parent().addClass("current");
            }
        });
    });
    </script>
    
            </div>
		</div>
	  
	</div>
</div><div style="text-align:center;background-image:url(../user/253/image/20161711541671.jpg);background-repeat:no-repeat;background-position:center;;height:200px;min-width:1170px;overflow:hidden;"></div>
<div class="shop_main clearfix">
<div class="shop_lb_left">
<div class="box_css_3" id="mokuai_11" style="margin-bottom:5px; overflow:hidden">
            <div class="box_css_top_3">产品展示</div>
			<div class="box_css_main_3">
            <div id="last_box_11" class="shop_type_css_5">
<span><a href="../erj/index.html">耳机</a></span>
<span><a href="index.html">数码摄像机</a></span>
<span><a href="../yddy/index.html">移动电源</a></span>
</div>

            </div>
		</div>
	</div>
<div class="shop_lb_right">
<div class="breadcrumb">当前位置：<a href="../index.html">首页</a> &gt; <a href='../cpzs/index.html'>产品展示</a> &gt;<a href='index.html'>数码摄像机</a> &gt;</div><div class="box_css_2 clearfix">
	
	<div class="box_css_main_2 ">
	<div class="shop_list">
	<ul class="shop_tw1_css_12 clearfix">
	<li><a href="pro20326.html" target="_blank"><img src="http://mocdn.web-12.com/user/253/product/201617/20161711532884198_260×300.jpg" width="260" height="300" border="0" alt="数码摄像机默认商品名称信息"></a> <span><a href="pro20326.html" target="_blank">数码摄像机默认商品名</a></span>
    
	<div><b>￥888</b><i class="scj">￥999</i></div>
    
    </li>
	<li><a href="pro19152.html" target="_blank"><img src="http://mocdn.web-12.com/user/253/product/201617/20161711543699230_260×300.jpg" width="260" height="300" border="0" alt="数码摄像机默认商品名称信息"></a> <span><a href="pro19152.html" target="_blank">数码摄像机默认商品名</a></span>
    
	<div><b>￥888</b><i class="scj">￥999</i></div>
    
    </li>
	<li><a href="pro18638.html" target="_blank"><img src="../sys_img/no_picture.gif" width="260" height="300" border="0" alt="数码摄像机默认商品名称信息"></a> <span><a href="pro18638.html" target="_blank">数码摄像机默认商品名</a></span>
    
	<div><b>￥888</b><i class="scj">￥999</i></div>
    
    </li>
	<li><a href="pro17873.html" target="_blank"><img src="../sys_img/no_picture.gif" width="260" height="300" border="0" alt="数码摄像机默认商品名称信息"></a> <span><a href="pro17873.html" target="_blank">数码摄像机默认商品名</a></span>
    
	<div><b>￥888</b><i class="scj">￥999</i></div>
    
    </li>
	<li><a href="pro16945.html" target="_blank"><img src="../sys_img/no_picture.gif" width="260" height="300" border="0" alt="数码摄像机默认商品名称信息"></a> <span><a href="pro16945.html" target="_blank">数码摄像机默认商品名</a></span>
    
	<div><b>￥888</b><i class="scj">￥999</i></div>
    
    </li>
	<li><a href="pro15841.html" target="_blank"><img src="../sys_img/no_picture.gif" width="260" height="300" border="0" alt="数码摄像机默认商品名称信息"></a> <span><a href="pro15841.html" target="_blank">数码摄像机默认商品名</a></span>
    
	<div><b>￥888</b><i class="scj">￥999</i></div>
    
    </li>
	<li><a href="pro14507.html" target="_blank"><img src="../sys_img/no_picture.gif" width="260" height="300" border="0" alt="数码摄像机默认商品名称信息"></a> <span><a href="pro14507.html" target="_blank">数码摄像机默认商品名</a></span>
    
	<div><b>￥888</b><i class="scj">￥999</i></div>
    
    </li>
	<li><a href="pro13635.html" target="_blank"><img src="../sys_img/no_picture.gif" width="260" height="300" border="0" alt="数码摄像机默认商品名称信息"></a> <span><a href="pro13635.html" target="_blank">数码摄像机默认商品名</a></span>
    
	<div><b>￥888</b><i class="scj">￥999</i></div>
    
    </li>
	<li><a href="pro12493.html" target="_blank"><img src="../sys_img/no_picture.gif" width="260" height="300" border="0" alt="数码摄像机默认商品名称信息"></a> <span><a href="pro12493.html" target="_blank">数码摄像机默认商品名</a></span>
    
	<div><b>￥888</b><i class="scj">￥999</i></div>
    
    </li>
	<li><a href="pro11307.html" target="_blank"><img src="../sys_img/no_picture.gif" width="260" height="300" border="0" alt="数码摄像机默认商品名称信息"></a> <span><a href="pro11307.html" target="_blank">数码摄像机默认商品名</a></span>
    
	<div><b>￥888</b><i class="scj">￥999</i></div>
    
    </li>
	</ul>
	</div>
</div>
</div>
</div>
</div>
<div class="bot_all" id="bot_all">
	<div class="bot_main" id="bot_main" style="position:relative">
	  
		<div style="position:absolute;width:1165px; height:95px; top:16px; left:0px; z-index:1;overflow:hidden;">
			<div style="">
                <div id="tb_last_box_2"><div style="text-align:center;">
	<span style="color:#FFFFFF;font-family:'Microsoft YaHei';font-size:14px;line-height:2;">地址：这里是您的公司地址 电话： +86-0000-96877</span>
</div>
<span style="font-family:'Microsoft YaHei';font-size:14px;line-height:2;color:#FFFFFF;">
<div style="text-align:center;">
	<span style="line-height:2;">传真： +86-0000-96877版权所有：这里是您的网站名称</span>
</div>
</span> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:2;color:#FFFFFF;">
<div style="text-align:center;">
	<span style="line-height:2;">技术支持：我们【我们】 ICP备案编号： ICP备********号</span>
</div>
</span></div>

            </div>
		</div>
	  
	</div>
</div>
<script language="JavaScript" src="../js/page_common.js"></script>
</body>
</html>