<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>数码摄像机默认商品名称信息 - 数码公司网站模板</title>
<meta name="Keywords" content="数码摄像机默认商品名称信息,模板建站、自助建站、免费个人主页空间、企业网站建设空间" />
<meta name="Description" content="数码摄像机默认商品名称信息,免费网站系统特点：永久免费网站建设空间，模板建站、自助建站、免费个人主页空间、企业网站建设空间，支持顶级域名绑定，站点完全独立等上千种功能，经过8年的市场验证，已为上千万个人/企业提供了良好的建站服务，会打字就会做网站。" / >
<script language="JavaScript" type="text/javascript" src="http://cdn.zhuolaoshi.cn/js/jquery-1.11.1.min.js"></script>
<script language="JavaScript" type="text/javascript" src="http://cdn.zhuolaoshi.cn/js/layer/layer.min.js"></script>
<script language="JavaScript" src="http://cdn.zhuolaoshi.cn/js/jquery.d.imagechange.js"></script>
<script language="JavaScript" src="http://cdn.zhuolaoshi.cn/js/MSClass.js"></script>
<script src="http://cdn.zhuolaoshi.cn/js/fixIE.js"></script>
<link href="../user/253/user_sys/css.css" rel="stylesheet" type="text/css" />
<style type="text/css">
.top_main{ height:70px;}
.bot_main{ height:111px;overflow:hidden}
.shop_main{width:1170px;padding:0px 0px 0px 0px;margin:0px auto;}
.shop_list{ padding:10px 0px;}
h1{ line-height:22px; font-size:14px; margin-bottom:10px;word-wrap: break-word;word-break: normal; }
.p_shuxing{display:block; margin-right:5px; margin-bottom:3px; float:left; background:#FFFFFF;}
.p_shuxing a{ display:block; float:left;border: #CCCCCC 1px solid; padding:3px 5px 2px 5px; outline:none;star:expression(this.onFocus=this.blur());}
.p_shuxing a:hover{ border:#FF0000 1px solid;outline:none;}
.p_shuxingn{display:block; margin-right:5px; margin-bottom:3px; float:left; padding:3px 5px 2px 5px; outline:none;}
.comm_list{padding:5px;}
.CommUl{list-style-type:none;margin:0px;padding:0px 0px 3px 0px;text-align:left;border-bottom: 1px dotted #afafb0;}
.CommUl li{margin:0px;padding:8px 3px 0px 3px;text-align:left;line-height:20px;}
.comm_list .CommUl li .author{color:#1e50a2;}
.comm_list .CommUl li .from{color:#666;}
.comm_list .CommUl li .postTime{color:#666;float: left;display: block; margin-left:10px;white-space: nowrap;}
.shop_lb_left{float:left;width:260px;padding-top:30px;padding-right:20px;padding-bottom:0px;padding-left:0px;}
.shop_lb_right{float:right;width:880px;}

.p_shuxing a.sxred{border:1px solid red;}

.shopnum_1{ float:left; display:block;width:25px; text-indent:9999px;}
.shopnum_1 a{ display:block; float:left; padding:3px 6px;width:25px; background:url(../sys_img/jiajian.gif) center no-repeat; background-position:5px;star:expression(this.onFocus=this.blur());}
.shopnum_2{ float:left; display:block; width:25px;text-indent:9999px;}
.shopnum_2 a{ display:block; float:left; padding:3px 6px;width:25px;background:url(../sys_img/jiajian.gif) center no-repeat; background-position:-30px 6px;star:expression(this.onFocus=this.blur());}
</style>
<script language="javascript">
$(function(){
$('.menu li div').css('top',$('.menu li').css('height'));var isie678=(/msie 6/i.test(navigator.userAgent))||(/msie 7/i.test(navigator.userAgent))||(/msie 8/i.test(navigator.userAgent));$('.menu >li').on('mouseenter',function(){$(this).find('div').show();$(this).children('a').addClass('menuhover');if(isie678){$(this).addClass('active')}}).on('mouseleave',function(){$(this).find('div').hide();$(this).children('a').removeClass('menuhover');if(isie678){$(this).removeClass('active')}});});



function chkshopnum(op)
{
	var shopnum=parseInt($("#shopnum").val());
	var pronum=parseInt($("#pronum").val());
	var proallnum=0;
	if(op=="add")
	{proallnum=shopnum+1;}
	else
	{proallnum=shopnum-1;}
	
	if(proallnum<1)
	{$("#shopnum").val(1);}
	else if(proallnum>pronum)
	{$("#shopnum").val(pronum);}
	else
	{$("#shopnum").val(proallnum);}
}

function carshow(title)
{
	$.layer({
    type: 1,
    title: false,
    area: ['auto', 'auto'],
    border: [0], //去掉默认边框
    shade: [0.2,'#000'],
    closeBtn: [0, false], //去掉默认关闭按钮
    page: {
        html: '<div style="width:320px; height:130px; padding:15px; border:4px solid #CCC; background-color:#eee;"><div style="height:80px; padding:10px;color;#000000">'+title+'</div><div style="text-align:right; margin-top:10px;"><input type="button" id="pagebtn" value="关闭" class="btns" onclick="javascript:layer.closeAll();"> <input type="button"  value="查看购物车" class="btns" onclick="top.location=\'/shopcar/\'">  <input type="button" value="马上结算" class="btns"  onclick="top.location=\'/shopjiesuan/\'"></div></div>'
    }
	});
}
function show_login_box()
{
	$.layer({
        type: 2,
        maxmin: false,
        shadeClose: false,
        title: "会员登录",
        shade: [0.2,'#000'],
        area: ['300px', '220px'],
        iframe: {src: "/inc/loginFrame.asp?act=addcart&r="+Math.random()}
    });
}

$(function(){
    $("#sub_shop_pl").on("click",function(){
        if($("#shop_Content").val()==""||$("#shop_Content").val()==$("#shop_Content").attr("placeholder")){
            alert("请输入评论内容！");
            return false;
        }
        if($("#yanzhengma").val()==""){
            alert("请输入验证码！");
            return false;
        }
        $.ajax({
            type:"post",
            url:"/inc/ajaxComment.asp?act=shop_add_pl",
            data:{
                ProId:$("#shop_pro_id").val(),
                content:$("#shop_Content").val(),
                code:$("#yanzhengma").val()
            },
            dataType:"json"
        }).done(function(data){
            if(data.errno){
                alert(data.msg);
            }else{
                alert(data.msg);
                if(data.show){
                    var strVar = "";
                    strVar += "<ul class=\"CommUl\">";
                    strVar += "    <li class=\"clearfix\">";
                    strVar += "    <span style=\"float:left\"><img src="http://253.web-12.com/smsxj/\&quot;/sys_img/msg.gif\&quot;"> 评论人：<span class=\"author\"> "+(data.show.username==""?"匿名用户":data.show.username)+" <\/span> <span class=\"ip\"> ip："+data.show.ip+" <\/span><\/span><span class=\"postTime\">"+data.show.date+" 发表<\/span>";
                    strVar += "    <\/li>";
                    strVar += "    <li><div style=\"line-height: 21px; margin-bottom: 3px; zoom: 1; word-wrap: break-word;overflow:hidden;\">"+$("#shop_Content").val()+"<\/div><\/li>";
                    strVar += "<\/ul>";
                    if($(".comm_list .CommUl").length){
                        $(strVar).insertBefore($(".comm_list .CommUl:first"));
                    }else{
                        $(strVar).appendTo($(".comm_list"));
                    }
                }
                $("#shop_Content").val('');
                $("#yanzhengma").val('');
                $("#verifycode").attr("src","/inc/VerifyCode.asp?r="+Math.random());
            }
        }).error(function(XMLHttpRequest, textStatus, errorThrown){
            alert("评论失败！");
        });
    });

    $("#shuxings").find("span.p_shuxing").on("click",function(){
        if($(this).find("a").hasClass("sxred")){
            $(this).find("a").removeClass("sxred");
            var sxprice=$(this).attr("sxprice");
            $("#sp_price").text(parseFloat($("#sp_price").text())-parseFloat(sxprice));
            $(this).siblings("input[type=hidden]").val('');
        }else{
            $(this).find("a").addClass("sxred").parent().siblings(".p_shuxing").find("a").removeClass("sxred");
            var sxprice=$(this).attr("sxprice");
            var price=sxprice;
            var hiddenValue=$(this).siblings("input[type=hidden]").val();
            if(hiddenValue.indexOf(",")!=-1){
                var last_sxprice=hiddenValue.split(",")[2];
                sxprice=parseFloat(sxprice)-parseFloat(last_sxprice);
            }
            $(this).siblings("input[type=hidden]").val($(this).siblings("input[type=hidden]").attr("sxname")+","+$(this).text()+","+price);
            var sp_price=parseFloat($("#sp_price").text())+parseFloat(sxprice);
			$("#sp_price").text(Math.round(sp_price*100)/100);
        }
    });

    $("#addToCart").on("click",function(){
        var flag=true; var sx_vals="";
        $("#shuxings").find("input[type=hidden][sxname]").each(function(i,item){
            if($(item).val().indexOf(",")==-1){
                flag=false;
            }
			sx_vals=sx_vals+$(item).val()+"|";
        });
        if(!flag){
            alert("请选择商品的属性！");return false;
        }
		if(sx_vals.length>0){sx_vals=sx_vals.substr(0,sx_vals.length-1);}
		var shopnum=$("#shopnum").val();
		var proid=$("#proid").val();
		$.ajax({
				type:"post",
				url:"/inc/shopajax.asp",
				data:"oper=addcar&proid="+proid+"&sx_vals="+sx_vals+"&shopnum="+shopnum+"&time="+Date(),
				success:function(data){
					if(data=="nologin")	
					{show_login_box();}	
					else if(data=="err")	
					{alert('错误');return false;}
					else if(data=="toomore")
					{alert('很抱歉，一次可购买10种商品');return false;}
					else
					{
						carshow(data);
					}	
				},
				error: function() {alert('系统错误,请联系网站管理员');return false;}
		});
        return true;
    });
	
	$("input[name=shopnum]").on("keydown",function(e){
    if(e.shiftKey) return false;
    if(((e.keyCode>=48&&e.keyCode<=57)||(e.keyCode>=96&&e.keyCode<=105)||(e.keyCode>=37&&e.keyCode<=40))||(e.keyCode==8)||(e.keyCode==46)){
        return true;
    }
    return false;
	}).on("blur",function(){
		var val=$(this).val();
		if(val==""){val=1;}
		if(/\D+/.test(val)){$("#shopnum").val("1");return false;}
		if(val+""=="0"){val=1;}
		if(parseInt(val)>parseInt($("#pronum").val())){
			val=$("#pronum").val();
		}
		$(this).val(val);
	});
    $(".showLogin").on("click",function(){
        var act=$(this).attr("data-act");
        $.layer({
            type: 2,
            maxmin: false,
            shadeClose: false,
            title: "会员登录",
            shade: [0.2,'#000'],
            offset: ['200px',''],
            area: ['300px', '220px'],
            iframe: {src: "/inc/loginFrame.asp?act="+act+"&r="+Math.random()}
        });
    });
    $(".comm_list").on("click",".pager a",function(){
        var page=$(this).attr("page");
        $(".comm_list").load("/inc/ajaxComment.asp?act=shop_list_pl&shopid=16&page="+page+"&r="+Math.random());
    });
});
</script>
<style type="text/css">
.top_all,.bot_all{min-width:1170px;}
.quanpinbj{min-width:1170px;width:100%; position:relative; z-index:-1;}
</style>

</head>
<body>

<div class="top_all" id="top_all">
	<div class="top_main" id="top_main" style="position:relative;z-index:10;">
	  
		<div id="mokuai_1" style="overflow:hidden;position:absolute;width:214px; height:56px; top:14px; left:0px; z-index:1">
			<div style="">
                <div id="tb_last_box_1"><p style="text-align:left;">
	<span style="font-size:14px;"><img src="http://mocdn.web-12.com/user/253/image/20160107/20160107102584748474.png" alt="" /></span>
</p>
<p style="text-align:left;">
	<span style="font-size:14px;"><span style="font-size:14px;line-height:21px;white-space:normal;"></span></span> 
</p></div>

            </div>
		</div>
	  
		<div id="mokuai_3" style="position:absolute;width:718px; height:69px; top:0px; left:455px; z-index:1">
			<div style="">
                <style>
.menu{width:800px}
</style><ul class='menu clearfix'>
<li><a href="../index.html" target="_self">首页</a></li>
<li><a href="../gywm/nyw.html" target="_self">关于我们</a><div><a href="../gywm/nyw.html" target="_self">关于我们</a><a href="../gywm/qwh.html" target="_self">企业文化</a><a href="../gywm/qyj.html" target="_self">企业愿景</a><a href="../form_1/index.html" target="_self">投诉雨建议</a><a href="../gbook/index.html" target="_self">在线留言</a></div></li>
<li><a href="../news/index.html" target="_self">新闻资讯</a><div><a href="../qnew/index.html" target="_self">企业新闻</a><a href="../hnew/index.html" target="_self">行业新闻</a></div></li>
<li><a href="../cpzs/index.html" target="_self">产品展示</a><div><a href="../erj/index.html" target="_self">耳机</a><a href="index.html" target="_self">数码摄像机</a><a href="../yddy/index.html" target="_self">移动电源</a></div></li>
<li><a href="../zpr/index.html" target="_self">人才招聘</a></li>
<li><a href="../gywm/lxwm.html" target="_self">联系我们</a></li>

</ul>
    <script>
    $(function(){
        var path=location.pathname;
        $(".menu li>a").each(function(i,link){
            if($(link).attr("href")==path){
                $(link).parent().addClass("current");
            }
        });
    });
    </script>
    
            </div>
		</div>
	  
	</div>
</div><div style="text-align:center;background-image:url(../user/253/image/20161711541671.jpg);background-repeat:no-repeat;background-position:center;;height:200px;min-width:1170px;overflow:hidden;"></div>
<div class="shop_main clearfix">
<div class="shop_lb_left">
<div class="box_css_3" id="mokuai_11" style="margin-bottom:5px; overflow:hidden">
            <div class="box_css_top_3">产品展示</div>
			<div class="box_css_main_3">
            <div id="last_box_11" class="shop_type_css_5">
<span><a href="../erj/index.html">耳机</a></span>
<span><a href="index.html">数码摄像机</a></span>
<span><a href="../yddy/index.html">移动电源</a></span>
</div>

            </div>
		</div>
	</div>
<div class="shop_lb_right">
<div class="breadcrumb">当前位置：<a href="../index.html">首页</a> &gt; <a href='../cpzs/index.html'>产品展示</a> &gt;<a href='index.html'>数码摄像机</a> &gt;数码摄像机默认商品名称信息 </div><div class="box_css_2 clearfix" style="margin-bottom:5px;">
	<div class="box_css_main_2 ">
		<div style="float:left;width:280px;">
		<img src="http://mocdn.web-12.com/sys_img/no_picture.gif" border="0" width="260" height="300" style="padding:1px; border:#F0F0F0 1px solid;"><br>
		<div class="smallpic" style="margin:5px 0px;background:#fff;">
			<div style="width:270px; height:0px; font-size:0px; line-height:0px;"></div>
				
			</div>			
		</div>
		
		<div style="float:left; margin-left:10px; line-height:24px; width:560px; overflow:hidden">
		<h1>数码摄像机默认商品名称信息</h1>
		<div style="padding-bottom:7px; line-height:18px;">数码摄像机默认商品简介内容信息，商品简介到商品描述里进行编辑。</div><!--leixing-->
		
			<div style="margin-bottom:5px;" class="clearfix">
			</div>
		<div  class="clearfix" style="margin:8px 0px 14px 0px; ">
		<span style="float:left; display:block; margin-top:3px; margin-right:5px;">数量：</span>
		<div style="border:#CCCCCC 1px solid; float:left; width:100px; background:#FFFFFF">
			<span class="shopnum_1"><a href="javascript:void(0)" onclick="chkshopnum('add')">+</a></span>
			<span style="float:left"><input type="text" name="shopnum" value="1" id="shopnum" style="border:0px; padding:6px 4px 4px 4px; width:30px; text-align:center; height:20px; border-left:#CCCCCC 1px solid;border-right:#CCCCCC 1px solid; margin-left:5px;" maxlength="3"></span>
			<span class="shopnum_2"><a href="javascript:void(0)" onclick="chkshopnum('del')">-</a></span>
		</div>
		</div>
		<div style="margin:8px 0px;"><input type="hidden" name="proid" id="proid" value="16">
		<a href="javascript:void(0)" id="addToCart"><img src="http://mocdn.web-12.com/user/zhuosir3/Shop_Cart.gif" border="0"></a></div>
		<!--leixing-->
		
		</div>
        
        <div class="clear"></div>
		</div>
	</div>
   
   <div class="box_css_2 clearfix" style="overflow:hidden" id="pro_detail">
        <div class="box_css_main_2">
		<p>&nbsp; &nbsp; &nbsp; 数码摄像机默认商品内容信息，请在后台管理》商品管理》编辑里进行修改。数码摄像机默认商品内容信息，请在后台管理》商品管理》编辑里进行修改。数码摄像机默认商品内容信息，请在后台管理》商品管理》编辑里进行修改。数码摄像机默认商品内容信息，请在后台管理》商品管理》编辑里进行修改。数码摄像机默认商品内容信息，请在后台管理》商品管理》编辑里进行修改。</p><p>&nbsp; &nbsp; &nbsp; 数码摄像机默认商品内容信息，请在后台管理》商品管理》编辑里进行修改。数码摄像机默认商品内容信息，请在后台管理》商品管理》编辑里进行修改。数码摄像机默认商品内容信息，请在后台管理》商品管理》编辑里进行修改。数码摄像机默认商品内容信息，请在后台管理》商品管理》编辑里进行修改。数码摄像机默认商品内容信息，请在后台管理》商品管理》编辑里进行修改。数码摄像机默认商品内容信息，请在后台管理》商品管理》编辑里进行修改。数码摄像机默认商品内容信息，请在后台管理》商品管理》编辑里进行修改。</p><p>&nbsp; &nbsp; &nbsp; 数码摄像机默认商品内容信息，请在后台管理》商品管理》编辑里进行修改。数码摄像机默认商品内容信息，请在后台管理》商品管理》编辑里进行修改。数码摄像机默认商品内容信息，请在后台管理》商品管理》编辑里进行修改。数码摄像机默认商品内容信息，请在后台管理》商品管理》编辑里进行修改。数码摄像机默认商品内容信息，请在后台管理》商品管理》编辑里进行修改。数码摄像机默认商品内容信息，请在后台管理》商品管理》编辑里进行修改。数码摄像机默认商品内容信息，请在后台管理》商品管理》编辑里进行修改。数码摄像机默认商品内容信息，请在后台管理》商品管理》编辑里进行修改。数码摄像机默认商品内容信息，请在后台管理》商品管理》编辑里进行修改。数码摄像机默认商品内容信息，请在后台管理》商品管理》编辑里进行修改。数码摄像机默认商品内容信息，请在后台管理》商品管理》编辑里进行修改。数码摄像机默认商品内容信息，请在后台管理》商品管理》编辑里进行修改。</p>
        </div>
	</div>
    
	
	<div class="box_css_2 clearfix" style="margin:5px 0px;" id="pro_comments">
	
	<div class="box_css_main_2">
    <div class="comm_list">
    
    <div class="pager">
        
    </div>
</div>
		<div><table width="100%" border="0" cellspacing="2" cellpadding="3">
  <tr>
    <td width="13%" align="right">用户名：</td>
    <td width="87%"><span id="commentuser">匿名用户</span></td>
  </tr>
  <tr>
    <td align="right">评论内容：</td>
    <td width="87%"><textarea name="shop_Content" id="shop_Content" style="width:98%;" rows="4" class="input_style" placeholder="请输入评论内容"></textarea></td>
  </tr>
  <tr>
    <td align="right">验 证 码：</td>
    <td><input name="yanzhengma" id="yanzhengma" type="text" size="8" class="input_style" style="float:left; width:80px; text-transform:uppercase;" maxlength="4" />
      <img src="../inc/VerifyCode.asp" border="0" id="verifycode" align="absmiddle" style="cursor:pointer; margin-left:6px; vertical-align:middle; float:left" title="点击更换验证码" onclick="javascript:this.src=this.src+'?time='+Math.random()"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="hidden" id="shop_pro_id" value="16"><input type="button" name="Submit" id="sub_shop_pl" value="提交评论" class="button_style" />  
        
        <span class="loginStatus" style="margin-left:20px;color:red" id="loginStatus"><a href="javascript:void(0)" class="showLogin" data-act="shopcommentlogin" style="color:#a94442">未登录,点击登录</a></span>
        
    </td>
  </tr>
</table>

<!--comment end-->
</div></div>
	</div></div>
</div>
<div class="bot_all" id="bot_all">
	<div class="bot_main" id="bot_main" style="position:relative">
	  
		<div style="position:absolute;width:1165px; height:95px; top:16px; left:0px; z-index:1;overflow:hidden;">
			<div style="">
                <div id="tb_last_box_2"><div style="text-align:center;">
	<span style="color:#FFFFFF;font-family:'Microsoft YaHei';font-size:14px;line-height:2;">地址：这里是您的公司地址 电话： +86-0000-96877</span>
</div>
<span style="font-family:'Microsoft YaHei';font-size:14px;line-height:2;color:#FFFFFF;">
<div style="text-align:center;">
	<span style="line-height:2;">传真： +86-0000-96877版权所有：这里是您的网站名称</span>
</div>
</span> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:2;color:#FFFFFF;">
<div style="text-align:center;">
	<span style="line-height:2;">技术支持：我们【我们】 ICP备案编号： ICP备********号</span>
</div>
</span></div>

            </div>
		</div>
	  
	</div>
</div>
<script language="JavaScript" src="../js/page_common.js"></script>
</body>
</html>