<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>企业新闻默认文章标题内容信息_企业新闻_数码公司网站模板</title>
<meta name="keywords" content="企业新闻默认文章标题内容信息,数码公司网站模板" />
<meta name="Description" content="企业新闻默认文章简介内容信息，文章简介到文章描述里进行编辑。" / >
<script language="JavaScript" type="text/javascript" src="http://cdn.zhuolaoshi.cn/js/jquery-1.11.1.min.js"></script>
<script language="JavaScript" type="text/javascript" src="http://cdn.zhuolaoshi.cn/js/layer/layer.min.js"></script>
<script language="JavaScript" src="http://cdn.zhuolaoshi.cn/js/jquery.d.imagechange.js"></script>
<script language="JavaScript" src="http://cdn.zhuolaoshi.cn/js/MSClass.js"></script>
<script src="http://cdn.zhuolaoshi.cn/js/fixIE.js"></script>
<link href="http://mocdn.web-12.com/user/253/user_sys/css.css" rel="stylesheet" type="text/css" />
<style type="text/css">
.top_main{ height:70px;}
.bot_main{ height:111px;overflow:hidden}
.main_css{overflow:hidden}
.box_left .mokuai{margin-bottom:4px;}
.breadcrumb{padding:5px;border:#666666 0px solid;}
.artlist{margin-bottom:5px;margin-top:5px;}
.box_css_0{padding:0px 0px 0px 0px;border:#d9d9d9 1px solid;background:url(http://sc.zhuolaoshi.cn/sc/wangyebj/datu/112.gif) #ffffff;}
.box_css_top_0{background:url(http://sc.zhuolaoshi.cn/sc/menubj/datu/99.gif);color:#434343;font-size:12px;font-family:微软雅黑;font-weight:bold;padding:3px 4px 5px 6px;}
.box_css_top_0 span a{float:right;background:url(http://sc.zhuolaoshi.cn/sc/more/datu/8.gif) no-repeat;display:block;font-weight: normal; font-style:normal;font-size:12px;width:30px;height:13px;margin-top:3px;margin-right:6px;}
.box_css_main_0{background:url(http://sc.zhuolaoshi.cn/sc/wangyebj/datu/115.gif) left;padding:4px 5px 6px 7px;}
.a_css_0 li{display:block;padding:1px 2px 3px 4px;margin:4px 3px 2px 1px;border-bottom-color:#d9d9d9;border-bottom-width:1px;border-bottom-style:dashed;background:url(../sys_img/bg_img/menu2/9.gif)  left;}
.a_css_0 li a{color:#434343;font-size:12px;}
.a_css_0 li a:visited{color:#434343;font-size:12px;}
.a_css_0 li a:hover{font-size:12px;color:#0000ff;text-decoration:underline;}
.a_css_0 li span{float:right;color:#674ea7;}
.article_show{color:rgb(136,136,136);font-size:12px;text-align:center;margin-bottom:5px;margin-top:5px;}
.articleContent{padding:5px;}
.pldiv{margin-bottom:4px;}
.comm_list{padding:5px;}
.CommUl{list-style-type:none;margin:0px;padding:0px 0px 3px 0px;text-align:left;border-bottom: 1px dotted #afafb0;}
.CommUl li{margin:0px;padding:8px 3px 0px 3px;text-align:left;line-height:20px;}
.comm_list .CommUl li .author{color:#1e50a2;}
.comm_list .CommUl li .from{color:#666;}
.comm_list .CommUl li .postTime{color:#666;float: right;display: block;white-space: nowrap;}
.artcomment{margin-top:4px;}
#verifycode{position:relative;top:-2px;}
</style>
<script language="javascript">
$(function(){
$('.menu li div').css('top',$('.menu li').css('height'));var isie678=(/msie 6/i.test(navigator.userAgent))||(/msie 7/i.test(navigator.userAgent))||(/msie 8/i.test(navigator.userAgent));$('.menu >li').on('mouseenter',function(){$(this).find('div').show();$(this).children('a').addClass('menuhover');if(isie678){$(this).addClass('active')}}).on('mouseleave',function(){$(this).find('div').hide();$(this).children('a').removeClass('menuhover');if(isie678){$(this).removeClass('active')}});});
function changeSize(size){
    $(".articleContent").css("font-size",size+"px").find("*").css("font-size",size+"px");
    $("#bot_main").css("position","static").css("position","relative");
}
$(function(){
    $("#postComment").on("click",function(){
        if($("#plcontent").val()==""||$("#plcontent").val()==$("#plcontent").attr("placeholder")){
            alert("请输入评论内容！");
            return false;
        }
        if($("#plcode").val()==""){
            alert("请输入验证码！");
            return false;
        }
        $.ajax({
            type:"post",
            url:"/inc/ajaxComment.asp?act=post",
            data:{
                articleId:32,
                content:$("#plcontent").val(),
                code:$("#plcode").val()
            },
            dataType:"json"
        }).done(function(data){
            if(data.errno){
                alert(data.msg);
            }else{
                alert(data.msg);
                if(data.show){
                    var strVar = "";
                    strVar += "<ul class=\"CommUl\">";
                    strVar += "    <li class=\"clearfix\">";
                    strVar += "    <span style=\"float:left\"><img src="http://253.web-12.com/qnew/\&quot;/sys_img/msg.gif\&quot;"> 评论人：<span class=\"author\"> "+(data.show.username==""?"匿名用户":data.show.username)+" <\/span> <span class=\"ip\"> ip："+data.show.ip+" <\/span><\/span><span class=\"postTime\">"+data.show.date+" 发表<\/span>";
                    strVar += "    <\/li>";
                    strVar += "    <li><div style=\"line-height: 21px; margin-bottom: 3px; zoom: 1; word-wrap: break-word;overflow:hidden;\">"+$("#plcontent").val()+"<\/div><\/li>";
                    strVar += "<\/ul>";
                    if($(".comm_list .CommUl").length){
                        $(strVar).insertBefore($(".comm_list .CommUl:first"));
                    }else{
                        $(strVar).appendTo($(".comm_list"));
                    }
                }
                $("#plcontent").val('');
                $("#plcode").val('');
                $("#verifycode").attr("src","/inc/VerifyCode.asp?r="+Math.random());
            }
        }).error(function(){
            alert("评论失败！");
        });
    });
    $(".showLogin").on("click",function(){
        var act=$(this).attr("data-act");
        $.layer({
            type: 2,
            maxmin: false,
            shadeClose: false,
            title: "会员登录",
            shade: [0.2,'#000'],
            offset: ['200px',''],
            area: ['300px', '220px'],
            iframe: {src: "/inc/loginFrame.asp?act="+act+"&r="+Math.random()}
        });
    });
    $(".comm_list").on("click",".pager a",function(){
        var page=$(this).attr("page");
        $(".comm_list").load("/inc/ajaxComment.asp?act=get&articleId=32&page="+page+"&r="+Math.random());
    });
});

</script>
<style type="text/css">
.top_all,.bot_all{min-width:1170px;}
.quanpinbj{min-width:1170px;width:100%; position:relative; z-index:-1;}
</style>

</head>
<body>

<div class="top_all" id="top_all">
	<div class="top_main" id="top_main" style="position:relative;z-index:10;">
	  
		<div id="mokuai_1" style="overflow:hidden;position:absolute;width:214px; height:56px; top:14px; left:0px; z-index:1">
			<div style="">
                <div id="tb_last_box_1"><p style="text-align:left;">
	<span style="font-size:14px;"><img src="http://mocdn.web-12.com/user/253/image/20160107/20160107102584748474.png" alt="" /></span>
</p>
<p style="text-align:left;">
	<span style="font-size:14px;"><span style="font-size:14px;line-height:21px;white-space:normal;"></span></span> 
</p></div>

            </div>
		</div>
	  
		<div id="mokuai_3" style="position:absolute;width:718px; height:69px; top:0px; left:455px; z-index:1">
			<div style="">
                <style>
.menu{width:800px}
</style><ul class='menu clearfix'>
<li><a href="../index.html" target="_self">首页</a></li>
<li><a href="../gywm/nyw.html" target="_self">关于我们</a><div><a href="../gywm/nyw.html" target="_self">关于我们</a><a href="../gywm/qwh.html" target="_self">企业文化</a><a href="../gywm/qyj.html" target="_self">企业愿景</a><a href="../form_1/index.html" target="_self">投诉雨建议</a><a href="../gbook/index.html" target="_self">在线留言</a></div></li>
<li><a href="../news/index.html" target="_self">新闻资讯</a><div><a href="index.html" target="_self">企业新闻</a><a href="../hnew/index.html" target="_self">行业新闻</a></div></li>
<li><a href="../cpzs/index.html" target="_self">产品展示</a><div><a href="../erj/index.html" target="_self">耳机</a><a href="../smsxj/index.html" target="_self">数码摄像机</a><a href="../yddy/index.html" target="_self">移动电源</a></div></li>
<li><a href="../zpr/index.html" target="_self">人才招聘</a></li>
<li><a href="../gywm/lxwm.html" target="_self">联系我们</a></li>

</ul>
    <script>
    $(function(){
        var path=location.pathname;
        $(".menu li>a").each(function(i,link){
            if($(link).attr("href")==path){
                $(link).parent().addClass("current");
            }
        });
    });
    </script>
    
            </div>
		</div>
	  
	</div>
</div><div style="text-align:center;background-image:url(../user/253/image/20161711541671.jpg);background-repeat:no-repeat;background-position:center;;height:200px;min-width:1170px;overflow:hidden;"></div>
<div class="main_css clearfix" id="main_body">

    <div class="box_left" style="float:left;width:260px;padding-top:30px;padding-right:20px;padding-bottom:0px;padding-left:0px;">
    
		<div class="mokuai box_css_3" id="mokuai_5">
            <div class="box_css_top_3">新闻资讯</div>
			<div class="mokuaiContent box_css_main_3">
            <div id="last_box_5" class="a_type_css_1">
<span><a href="index.html">企业新闻</a></span>
<span><a href="../hnew/index.html">行业动态</a></span>
</div>

            </div>
        </div>
        
    </div>

    <div class="box_right" style="float:right;width:880px">
        <div class="breadcrumb">当前位置:
            <a href="../index.html">首页</a> &gt; 
            <a href='../news/index.html'>新闻资讯</a> &gt;<a href='index.html'>企业新闻</a> &gt;企业新闻默认文章标题内容信息
        </div>
        
                    <div class="box_css_2">
                        <div class="box_css_main_2">
                            
                                <h1 style="color:#000000;font-size:22px;padding-top:20px;padding-right:2px;padding-bottom:3px;padding-left:4px;text-align:center">企业新闻默认文章标题内容信息</h1>
                                <div class="article_show clearfix" style="padding:5px 0;border-bottom:1px dotted ">
                                    <div style="float:left;">
                                        发表时间:2016-1-7 11:36:34&nbsp;&nbsp;浏览次数:32&nbsp;&nbsp;
                                    </div>
                                    <div style="float:right;">
                                        字体大小:
                                        <a href="javascript:void(0);" onclick="changeSize(12)">【小】</a>
                                        <a href="javascript:void(0);" onclick="changeSize(14)">【中】</a>
                                        <a href="javascript:void(0);" onclick="changeSize(16)">【大】</a>
                                        
                                    </div>
                                </div>
                            
                            <div class="articleContent" style="color:#434343;font-size:14px;line-height:25px;">
                                <p>&nbsp; &nbsp; &nbsp; 企业新闻默认文章内容信息，请在后台管理》文章管理》编辑里进行修改。企业新闻默认文章内容信息，请在后台管理》文章管理》编辑里进行修改。企业新闻默认文章内容信息，请在后台管理》文章管理》编辑里进行修改。企业新闻默认文章内容信息，请在后台管理》文章管理》编辑里进行修改。企业新闻默认文章内容信息，请在后台管理》文章管理》编辑里进行修改。</p><p>&nbsp; &nbsp; &nbsp; 企业新闻默认文章内容信息，请在后台管理》文章管理》编辑里进行修改。企业新闻默认文章内容信息，请在后台管理》文章管理》编辑里进行修改。企业新闻默认文章内容信息，请在后台管理》文章管理》编辑里进行修改。企业新闻默认文章内容信息，请在后台管理》文章管理》编辑里进行修改。企业新闻默认文章内容信息，请在后台管理》文章管理》编辑里进行修改。企业新闻默认文章内容信息，请在后台管理》文章管理》编辑里进行修改。企业新闻默认文章内容信息，请在后台管理》文章管理》编辑里进行修改。</p><p>&nbsp; &nbsp; &nbsp; 企业新闻默认文章内容信息，请在后台管理》文章管理》编辑里进行修改。企业新闻默认文章内容信息，请在后台管理》文章管理》编辑里进行修改。企业新闻默认文章内容信息，请在后台管理》文章管理》编辑里进行修改。企业新闻默认文章内容信息，请在后台管理》文章管理》编辑里进行修改。企业新闻默认文章内容信息，请在后台管理》文章管理》编辑里进行修改。企业新闻默认文章内容信息，请在后台管理》文章管理》编辑里进行修改。企业新闻默认文章内容信息，请在后台管理》文章管理》编辑里进行修改。企业新闻默认文章内容信息，请在后台管理》文章管理》编辑里进行修改。企业新闻默认文章内容信息，请在后台管理》文章管理》编辑里进行修改。企业新闻默认文章内容信息，请在后台管理》文章管理》编辑里进行修改。企业新闻默认文章内容信息，请在后台管理》文章管理》编辑里进行修改。企业新闻默认文章内容信息，请在后台管理》文章管理》编辑里进行修改。</p>
                            </div>
                            <div>
                            
                                <div>上一篇：<a href="article31678.html">企业新闻默认文章标题内容信息</a></div>
                            
                                <div>下一篇：<a href="article33835.html">企业新闻默认文章标题内容信息</a></div>
                            
                            </div>
                        
                        </div>
                    </div>
                    
                    <div class="artcomment box_css_2">
                        
                        <div class="box_css_main_2">
                            <div class="pldiv">
                                <textarea id="plcontent" cols="70" rows="4" class="input_style" maxlength="1000" placeholder="评论内容"></textarea>
                            </div>
                            <div class="pldiv">
                                <input type="text" size="20" id="plcode" class="input_style" style="text-transform:uppercase" /> <img src="../inc/VerifyCode.asp" onclick="this.src='/inc/VerifyCode.asp?r='+Math.random();" align="absmiddle" id="verifycode">
                                <input id="postComment" class="button_style" type="button" value="提交" />
                            </div>
                            <div class="pldiv">
                                发表评论：(匿名发表无需登录，已登录用户可直接发表。) 登录状态： 
                                
                                <span class="loginStatus" style="color:red" id="loginStatus"><a href="javascript:void(0)" class="showLogin" data-act="articlecommentlogin" style="color:#a94442">未登录,点击登录</a></span>
                                
                            </div>
                            <div class="comm_list">
                                
                                <div class="pager">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    
    </div>
</div>
<div class="bot_all" id="bot_all">
	<div class="bot_main" id="bot_main" style="position:relative">
	  
		<div style="position:absolute;width:1165px; height:95px; top:16px; left:0px; z-index:1;overflow:hidden;">
			<div style="">
                <div id="tb_last_box_2"><div style="text-align:center;">
	<span style="color:#FFFFFF;font-family:'Microsoft YaHei';font-size:14px;line-height:2;">地址：这里是您的公司地址 电话： +86-0000-96877</span>
</div>
<span style="font-family:'Microsoft YaHei';font-size:14px;line-height:2;color:#FFFFFF;">
<div style="text-align:center;">
	<span style="line-height:2;">传真： +86-0000-96877版权所有：这里是您的网站名称</span>
</div>
</span> <span style="font-family:'Microsoft YaHei';font-size:14px;line-height:2;color:#FFFFFF;">
<div style="text-align:center;">
	<span style="line-height:2;">技术支持：我们【我们】 ICP备案编号： ICP备********号</span>
</div>
</span></div>

            </div>
		</div>
	  
	</div>
</div>
<script language="JavaScript" src="../js/page_common.js"></script>
</body>
</html>
